.cardStyle{
  display: 'flex';
  flex-Direction: 'column';
  gap: '10px';
  min-Width: 275;
  border-radius: 4; 
  box-shadow: '0 2px 8px rgba(0, 0, 0, 0.25)';


}
.cardContentStyle  {
  flex: '1';
  padding: '16px',
}

.cardMediaStyle {
  height: 140; 
  background-size: 'cover';
  border-radius: '4px 4px 0 0',
}